@font-face {
  font-family: 'proximanova-regular';
  src: url('../src/fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff2') format('woff2'),
       url('../src/fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: 'proximanova-regular';
}
/*Type-Scale.com minor third 16px base
2.986rem/47.78px
2.488rem/39.81px
2.074rem/33.18px
1.728rem/27.65px
1.44rem/23.04px
1.2rem/19.20px
1rem/16.00px
0.833rem/13.33px
0.694rem/11.11px
0.579rem/9.26px*/
:root {
  --primary: #043f84;
  --secondary: #00b275;
  --accent: #b31010;
  --text: #e5ebf2;
}

.big-background {
  min-height: 100vh;
  min-width: 100vw;
  position: contain;
  background-size: cover;
  background-image: url('./assets/img/Background.png');
}

.mask {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-size: cover;
  background-color: rgba(0,0,0,0.35);
}

.site-name {
  font-size: 47.78px;
  text-align: center;
  opacity: 0.9;
  padding-top: 3.8vh;
  margin-bottom: 2.986rem;
  color: #2bb6ed;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  position: relative;
  line-height: 0.7em;
  outline: none;
  text-shadow: 0 0 10px, 0 0 20px, 0 0 30px;
}

.site-name::after {
  margin-bottom: 2rem;;
}

.name {
  letter-spacing: 0.482rem;
  font-size: 47.78px;
}

.main {
  height: 75vh;
}

