footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .linkedin, .github, .twitter {
    font-size: 24.04px;
    color: #E9F7FD;
    opacity: 0.6;
  }
  
  .linkedin:hover, .github:hover, .twitter:hover {
    opacity: 1;
    transition: all .3s linear;
  }
  
  .linkedin:hover {
    color: #0E76A8;
  }
  
  .twitter:hover {
    color: #00ACEE;
  }