.navbar-link {
    text-decoration: none;
    font-size: 23.04px;
    color: #2bb6ed;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-link-active {
    color: var(--primary);
  }
  
  .navbar-link-active:hover {
    text-decoration: none;
  }